<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Views/Shared/styles/styles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="container">
		<div id="header">
        
		</div>
        
        
  <div id="contentContainter">
   	<div id="contentLeft">
    </div>
    
   	<div id="contentRight">
           @RenderBody()
    </div>

  </div>
</div>


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
