@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;

<div id="container">
		<div id="header">
        
		</div>
        
        
  <div id="contentContainter">
   	<div id="contentLeft">
    </div>
    
   	<div id="contentRight">
           @foreach (var item in ViewBag.pageOfBooks)
           {
               <div class ="bookSmall">
                   <h3>@item.BookName</h3>
                   <p>@item.Author</p>
                   <p>@item.Edition</p>
                   <p>@item.InStock</p>
                   @Html.ActionLink("More Details", "Details", new { Id = item.Id})
               </div>
           }
    </div>

  </div>
</div>